<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangshengbo.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.tangshengbo.model.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, price, image, brand
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods
    where id = #{id,jdbcType=BIGINT}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tangshengbo.model.Goods" >
    insert into tb_goods (id, title, price, 
      image, brand)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tangshengbo.model.Goods" >
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="brand != null" >
        brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangshengbo.model.Goods" >
    update tb_goods
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangshengbo.model.Goods" >
    update tb_goods
    set title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update"></update>

  <select id="findAll" resultType="com.tangshengbo.model.Goods">
    select <include refid="Base_Column_List"/> from tb_goods
  </select>
  <select id="findByPage" resultType="com.tangshengbo.model.Goods">
    SELECT * FROM tb_goods
    <where>
      <if test="brand != null">
        AND brand LIKE CONCAT('%', #{brand}, '%')
      </if>
      <if test="title != null">
        AND title LIKE CONCAT('%', #{title}, '%')
      </if>
    </where>
  </select>
</mapper>